<p id="notice"><%= notice %></p>

<h1 >Estatísticas do usuário</h1>

<div class="user-stats text-center img-responsive">
  <img class="img-responsive" src="/chart.png" style="max-width: 750px;">
</div>


<br>
<div id="new-bath-link text-center">
  <%= link_to 'Voltar',new_user_bath_path,  { class: "btn-default", style: "text-decoration: none;" } %>
<div>
